.todo-list{
    list-style-type: none;
}

.done-todo{
    text-decoration: line-through;
}

.invalid-todo{
    color: #df0707;
    font-size: 11px;
    margin-top: 5px;
}
.link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: green;
}
.pageNumber{
    margin: 8px;
    font-style: italic;
}