<input [(ngModel)]="newToDoTitle" (keyup.enter)="createToDo()">
<p *ngIf="!isNameValid" class="invalid-todo">Invalid text !!!</p>
<ul class="todo-list">

  <li *ngFor="let todo of paginatedTodos">
    <input type="checkbox" class="done-checkbox" [(ngModel)]="todo.completed" (click)=doneToDo(todo)>
    <a routerLink="/todo/{{todo.id}}" class="link">
      <span [ngClass]="{'done-todo' : todo.completed}">{{todo.title}}</span>
    </a>
    <button (click)=deleteToDo(todo)>X</button>  
  </li>
</ul>
<button (click)=sortTodos()>Sort</button>
<button (click) = prevPage()>Prev</button>
<span class="pageNumber">{{pageNumber+1}}</span>
<button (click) = nextPage()>Next</button>
<select name="drop-down" [(ngModel)]="todosPerPage">  
  <option value="10" > 10</option>
  <option value="20"> 20</option>
  <option value="50"> 50</option>
</select>
